.heading {
  color: aqua;
  border-right-color: bisque;
  background-color: rgb(161, 161, 187);
  text-align: center;
}
.blogsSection {
  background-color: antiquewhite;
  border: #9e6f6f;
  text-align: center;
  padding: 25px;
}

.blogContainer {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}

.blogItem {
  background-position: center;
  background-color: aquamarine;
  border-color: rgb(75, 69, 81);
  background-image: url(../images/about.jpg);
  text-align: center;
  width: 24%;
  overflow: hidden;
  max-height: 400px;
}
.blogBg {
  background-image: url(../images/backgroundpic.jpg);
}
.blogTitle {
  text-align: center;
  background-color: rgb(179, 135, 83);
}

.aboutitemtitle {
  background-color: aquamarine;
  text-align: center;
}

.blogItem p {
  color: rgb(179, 135, 83);
}
@media screen and (max-width: 768px) {
  .blogContainer {
    flex-direction: column;
  }

  .blogItem {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .blogItem {
    width: 49%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .blogItem {
    width: 32%;
  }
}
