.blogsSection {
  background-color: antiquewhite;
  border: #9e6f6f;
  text-align: center;
  padding: 25px;
  background-position: center;
  background-color: aquamarine;
  border-color: rgb(75, 69, 81);
  background-image: url(assets/images/about.jpg);
  text-align: center;
  text-decoration: solid;
  text-size-adjust: auto;
  text-decoration-color: rgb(179, 135, 83);
  max-width: 900;
}
.heading {
  color: aqua;
  border-right-color: bisque;
  background-color: rgb(161, 161, 187);
  text-align: center;
}
.blogTitle {
  text-align: center;
  background-color: rgb(179, 135, 83);
}
.aboutitemtitle {
  background-color: aquamarine;
  text-align: center;
}

.blogItem p {
}
