body {
  background-color: rbg(192, 200, 193);
}

.item {
  font-size: 20px;
  color: aquamarine;
}

.item:hover {
  font-size: 10px;
  color: rgb(117, 13, 63);
  background-color: aqua;
}

* {
  list-style: none;
}
